<div class="start-screen">
    <div class="video-wrapper">
        <img src="./../../assets/img/fire-circle.jpg">
    </div>
    <h1>Ring of Fire</h1>
    <button (click)="newGame()" class="btn" >Start Game</button>
    <div class="ref-links">
        <a
            href="https://de.freepik.com/fotos-kostenlos/magier-mischt-die-karten-auf-coole-weise-im-scheinwerferlicht_12040163.htm#query=play%20cards%20ring&position=14&from_view=search&track=location_fest_v1">Bild
            von wirestock</a> auf Freepik

        <a
            href="https://de.freepik.com/gratis-video/wogender-bodennebel-wirbelt-und-flie%C3%9Ft-schleife_179092#position=25&term=fire%20ring&from_view=search">Video
            von Freepik</a>
    </div>
</div>